@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Project_DAW.Models.Intrebare
<div class="card">
    <div class="card-header fw-bold">
        @Model.Name
    </div>
    <div class="card-body">
        <p class="card-text">@Model.Continut</p>
        @if (ViewBag.Intoarcere == "SubCategorii")
        {
            <a href="/SubCategorii/Show/@TempData["IdSC"]" class="btn btn-primary">Inapoi</a>
        }
        else
        {
            <a href="/Intrebari/Index" class="btn btn-primary">Inapoi</a>
        }
    </div>
    @if (Model.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin)
    {
        <div class="d-flex flex-row justify-content-between p-3 border-1 border-top">

            <a class="btn btn-success" href="/Intrebari/Edit/@Model.Id">Editeaza intrebare</a>

            <form method="post" action="/Intrebari/Delete/@Model.Id">

                <button class="btn btn-danger" type="submit">Sterge intrebare</button>

            </form>

        </div>
    }
</div>

@foreach(var comentariu in Model.Comentarii)
{
    <div class="card">
        <div class="card-header">
            @comentariu.User.UserName
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>@comentariu.Continut</p>
                <footer class="blockquote-footer">@comentariu.Date</footer>
            </blockquote>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            @if (comentariu.User.NormalizedUserName.ToUpper() == User.Identity.Name.ToUpper() || ViewBag.EsteAdmin || ViewBag.EsteMod)
            {
                <a href="/Comentarii/Delete/@comentariu.Id" role="button" class="btn btn-outline-danger">Sterge Comentariu</a>
            }
            @if (comentariu.User.NormalizedUserName.ToUpper() == User.Identity.Name.ToUpper())
            {
                <a href="/Comentarii/Edit/@comentariu.Id" role="button" class="btn btn-outline-info">Editeaza Comentariu</a>

            }
        }
        
    </div>
}
<br />
<br />
<p class="font-weight-bold">Scrie un comentariu:</p>
<br />
@if (TempData.ContainsKey("Test"))
{
    <p>@TempData["Test"]</p>
}
@if (ViewBag.EsteUser)
{

    <form method="post" action="/Intrebari/Show/@Model.Id">
        
        <input type="hidden" name="IntrebareId" value="@Model.Id" />
       
        <label>Continut comentariu</label>
        <br />
        <textarea class="form-control" name="Continut"></textarea>
        <br />
        <button class="btn btn-success " type="submit">Adauga comentariul</button>


    </form>
}
else
{
    <p class="text-danger">Trebuie sa fi logat pentru a scrie un comentariu!</p>
    <a href="/Identity/Account/Login" role="button" class="btn btn-outline-info">Pagina de Login</a>
}